<header class="header">
    <p class="header-logo">TODO</p>
    <div class="header-btns">
        <button type="button" class="header-btns-btn" name="showDoneTasks">Done tasks</button>
        <button type="button" class="header-btns-btn">logout</button>
    </div>
</header>


<div class="cont">
    <aside class="cont-left">
        <div class="cont-left-links">
            <a href="#" class="cont-left-link" name="todaysTasks">Today</a>
            <a href="#" class="cont-left-link" name="weeklyTasks">Last 7 days</a>
        </div>
        <div class="cont-left-projects">
            <p class="projects-title">Projects:</p>
            <ul class="projects-list">
                {{#each data.project}}
                    <li class="projects-list-item">
                        <div class="projects-list-color" style="background-color: {{this.color}}"></div>
                        <a href="#" class="projects-list-a" data-id="{{this.id}}">{{this.project_name}}</a>
                        <button class="edit-btn" name="showEditModal" type="button">Edit</button>
                        <button class="delete-btn" name="deleteProject" type="button">Delete</button>
                    </li>
                {{else}}
                    No projects...
                {{/each}} 
            </ul>
            <div class="add-wrapper">
                <a class="projects-link" name="showAddProjectModal" href="#">+ Add Project</a>
            </div> 
        </div>
    </aside>
    
        
    <div class="cont-mid">
        <div class="mid-title">
            <p class="mid-title-text">Today</p><p class="mid-title-date">{{date}}</p>
        </div>
        <ul class="task-list">
            {{#each data.todayTasks}}
                <li class="task-list-item">
                    <div class="item-task">
                        <div class="priority" style="background-color: {{this.priority.priority_color}};"></div>
                        <p class="task-name">{{this.task_name}}</p>
                    </div>
                    <div class="task-btns" data-id="{{this.id}}" data-project_id="{{#if @root.project.id}}{{@root.project.id}}{{else}}{{this.project_id}}{{/if}}">
                        <button class="edit-btn" data-date="{{this.deadline}}" data-priority_id="{{this.priority_id}}" name="showEditTaskModal" type="button">Edit</button>
                        <button class="done-btn" name="doneTask" type="button">Done</button>
                        <button class="delete-btn" name="deleteTask" type="button">Delete</button>
                    </div>
            
                    <div class="item-project">
                        <p class="project-name" >{{this.project_name}}</p>
                        <div class="project-color" style="background-color: {{this.color}};"></div>
                    </div>         
                </li>
            {{else}}
                No tasks...
            {{/each}} 
        </ul>
        <div class="task-modal-wrapper">
            <a class="projects-link" name="showAddTaskModal" href="#">+ Add Task</a>
        </div> 
    </div>
</div>



