<header class="header">
    <p class="header-logo">TODO</p>
    <div class="header-btns">
        <button type="button" class="header-btns-btn">Done tasks</button>
        <button type="button" class="header-btns-btn">logout</button>
    </div>
</header>


<div class="cont">
    <aside class="cont-left">
        <div class="cont-left-links">
            <a href="#" class="cont-left-link">Today</a>
            <a href="#" class="cont-left-link">Last 7 days</a>
        </div>
        <div class="cont-left-projects">
            <p class="projects-title">Projects:</p>
            <ul class="projects-list">
                {{#each project}}
                    <li class="projects-list-item">
                        <div class="projects-list-color" style="background-color: {{this.color}};"></div>
                        <a href="#" class="projects-list-a">{{this.project_name}}</a>
                    </li>
                {{else}}
                    No projects...
                {{/each}} 
            </ul>
            <a class="projects-link" href="#">+ Add Project</a>
        </div>
    </aside>

    <div class="cont-mid">
        <div class="mid-title">
            <p class="mid-title-text">title{{title}}</p><p class="mid-title-date">date{{date}}</p>
        </div>
        <ul class="task-list">
            {{#each todayTasks}}
                <li class="task-list-item">
                    <div class="item-task">
                        <div class="priority" style="background-color: {{this.priority.priority_color}};"></div>
                        <p class="task-name">{{this.task_name}}</p>
                    </div>
                    <div class="item-project">
                        <p class="project-name" >{{this.project_name}}</p>
                        <div class="project-color" style="background-color: {{this.color}};"></div>
                    </div>
                    
                    
                </li>
            {{else}}
                No tasks...
            {{/each}} 
        </ul>
    </div>

    <aside class="cont-right">
        right section
        {{!-- {{#each friends}}
            
        {{else}}
            No friends...
        {{/each}}  --}}
    </aside>
</div>



